In [1]:
import pandas as pd
import numpy as np

# k55 = pd.read_csv("D:\\Khoa hoc du lieu\\data_k55kmt.csv", index_col='Date', parse_dates=True)
house_prices = pd.read_csv("D:\\VS Code Workspace\\Du doan gia nha\\house-prices.csv")

In [2]:
house_prices.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [3]:
house_prices.loc[house_prices["Brick"] == "No", "Brick"] = 0
house_prices.loc[house_prices["Brick"] == "Yes", "Brick"] = 1

house_prices.loc[house_prices["Neighborhood"] == "East", "Neighborhood"] = 1
house_prices.loc[house_prices["Neighborhood"] == "West", "Neighborhood"] = 2
house_prices.loc[house_prices["Neighborhood"] == "South", "Neighborhood"] = 3
house_prices.loc[house_prices["Neighborhood"] == "North", "Neighborhood"] = 4

house_prices.to_csv("new_house_prices.csv", index=False)

In [4]:
new_house_prices = pd.read_csv("D:\\VS Code Workspace\\Du doan gia nha\\new_house_prices.csv")
new_house_prices.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers  Brick  Neighborhood
0     1  114300  1790         2          2       2      0             1
1     2  114200  2030         4          2       3      0             1
2     3  114800  1740         3          2       1      0             1
3     4   94700  1980         3          2       3      0             1
4     5  119800  2130         3          3       3      0             1

In [25]:
new_house_prices.dropna(axis=0, how='any', inplace=True)

values = ['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Brick', 'Neighborhood']

x = new_house_prices[values] #.values.reshape(-1, 1)
y = new_house_prices['Price']

print(x)
print(y)

     SqFt  Bedrooms  Bathrooms  Offers  Brick  Neighborhood
0    1790         2          2       2      0             1
1    2030         4          2       3      0             1
2    1740         3          2       1      0             1
3    1980         3          2       3      0             1
4    2130         3          3       3      0             1
..    ...       ...        ...     ...    ...           ...
123  1900         3          3       3      1             1
124  2160         4          3       3      1             1
125  2070         2          2       2      0             4
126  2020         3          3       1      0             2
127  2250         3          3       4      0             4

[128 rows x 6 columns]
0      114300
1      114200
2      114800
3       94700
4      119800
        ...
123    119700
124    147900
125    113500
126    149900
127    124600
Name: Price, Length: 128, dtype: int64

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
model= LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

with open('linear_regression.pkl','wb') as f:
    pickle.dump(model,f)
score = model.score(X_test, y_test)
print('Độ chính xác của mô hình :', score)

Độ chính xác của mô hình : 0.7355331071842939

In [28]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(X_test)

# Tính MSE
mse = mean_squared_error(y_test, y_pred)
print("MSE: ", mse)

# Tính R2
r2 = r2_score(y_test, y_pred)
print("R2: ", r2)

MSE:  171278794.66289613
R2:  0.7355331071842939

In [19]:
data= list(zip(x,y))
print(data)

[('SqFt', 114300), ('Bedrooms', 114200), ('Bathrooms', 114800), ('Offers', 94700), ('Brick', 119800), ('Neighborhood', 114600)]

In [31]:
def predict_price(SqFt, Bedrooms, Bathrooms, Offers, Brick, Neighborhood):
    with open('linear_regression.pkl', 'rb') as f:
        mmodel = pickle.load(f)
    return model.predict([[SqFt, Bedrooms, Bathrooms, Offers, Brick, Neighborhood]])[0]

In [35]:
SqFt = float(input('Nhap dien tich nha : '))
Bedrooms = float(input('Nhap so phong ngu : '))
Bathrooms = float(input('Nhap so phong tam : '))
Offers = float(input('Offers : '))
Brick = float(input('Brick (0-1): '))
Neighborhood = float(input('Huong nha hang xom (1-4) : '))

price = predict_price(SqFt, Bedrooms, Bathrooms, Offers, Brick, Neighborhood)
print(f'Giá nhà dự đoán là : {price} USD')

Giá nhà dự đoán là : 145047.16191712007 USD

d:\Python\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(